@import './partials/variables';
@import './partials/header';
@import './partials/form';
@import './partials/planner';

body{
  font-family: 'Poppins', sans-serif;
  background-image: url(../img/logo-uol.svg);
  background-repeat: no-repeat;
  background-position: 1300px 350px;
}

h3{
  font-family: 'Poppins', sans-serif;
  font-size: 1.375rem;
  line-height: 1.675rem;
  font-weight: 700;
}

p{
  font-family: 'Poppins', sans-serif;
  font-size: .875rem;
  line-height: 1.125rem;
}

.btn{
  font-family: 'Nunito', sans-serif;
  padding: .5rem 1rem;
}

.hide{
  display: none;
}