@import './partials/variables';
@import './partials/header';
@import './partials/form';
@import './partials/planner';

body{
  font-family: 'Poppins', sans-serif;
  background-image: url(../img/logo-uol.svg);
  background-repeat: no-repeat;
  background-position: 130vh 20vw;
  &::-webkit-scrollbar-track {
    background-color: #F4F4F4;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background: #c0c0c0;
  }
  &::-webkit-scrollbar-thumb {
    background: #dad7d7;
  }
}

h3{
  font-family: 'Poppins', sans-serif;
  font-size: 1.375rem;
  line-height: 1.675rem;
  font-weight: 700;
}

p{
  font-family: 'Poppins', sans-serif;
  font-size: .875rem;
  line-height: 1.125rem;
}

.btn{
  font-family: 'Nunito', sans-serif;
  padding: .5rem 1rem;
}

.hide{
  display: none;
}

.segunda{
  background: $orange;
}

.terca{
  background: $green;
}

.quarta{
  background: $blue;
}

.quinta{
  background: $purple;
}

.sexta{
  background: $blue-200;
}

.sabado{
  background: $pink;
}

.domingo{
  background: $tomato;
}

.danger{
  background: $danger;
}

